@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*Colour palette*/
    --dark-color: #27272a;
    --grey-color: #9f9ea2;
    --accent-color: #C34A36; /*For links background*/
    --accent-light-color: #FF8066; /*For links hover*/
    --purple-color: #845EC2; /*For underlines and stuff like that*/
}

body, * {
    font-family: 'Public Sans', sans-serif;
    padding: 0;
    margin: 0;
}

/*#region Navbar*/
#my-nav {
    background-color: var(--dark-color);
}

#my-nav ul li a.nav-link {
    color: white;
    font-size: 22px;
    font-weight: 400;
}

#my-nav ul li.nav-item {
    padding: 0 15px;
}

#my-nav .custom-toggler .navbar-toggler-icon {
    background-image: url("../img/svg/menu_hamburger.svg");
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/*Hover link effect START*/
.hover-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFF;
    transition: width .3s;
}

.hover-link:hover::after {
    width: 100%;
    transition: width .3s;
}
/*Hover link effect END*/

/*#endregion Navbar*/

/*#region PageHeader*/
.header {
    background-color: rgba(0, 0, 0, 0.76);
    background-image: url("../img/header_bg_2.jpg");
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 64px;
    height: 24vh;
}

.header h1 {
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    color: whitesmoke;
}
/*#endregion PageHeader*/

/*#region MainContainer*/
.main-container {
    padding: 64px 48px ;
}
/*#endregion MainContainer*/

/*#region RegisterForm*/
#submitBtn {
    background-color: var(--accent-color);
    border: none;
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

#submitBtn:hover {
    background-color: var(--accent-light-color);
    transition: 0.3s ease-in-out;
}

/*#endregion RegisterForm*/

/*#region Media Queries*/

/*#region Mobile*/
@media (max-width: 575.98px) {
    .header {
        height: 18vh;
    }

    .header h1 {
        font-size: 36px;
    }

    .main-container {
        padding: 64px 16px;
    }

    #my-nav .navbar-collapse ul.navbar-nav {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

/*#endregion Mobile*/


/*#endregion Media Queries*/