@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*Colour palette*/
    --dark-color: #27272a;
    --grey-color: #9f9ea2;
    --accent-color: #C34A36; /*For links background*/
    --accent-light-color: #FF8066; /*For links hover*/
    --purple-color: #845EC2; /*For underlines and stuff like that*/
}
html,
body {
    height: 100%;
}

body, * {
    font-family: 'Public Sans', sans-serif;
    padding: 0;
    margin: 0;
}

/*#region Navbar*/
#my-nav {
    background-color: var(--dark-color);
}

#my-nav ul li a.nav-link {
    color: white;
    font-size: 22px;
    font-weight: 400;
}

#my-nav ul li.nav-item {
    padding: 0 15px;
}

#my-nav .custom-toggler .navbar-toggler-icon {
    background-image: url("../img/svg/menu_hamburger.svg");
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/*Hover link effect START*/
.hover-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFF;
    transition: width .3s;
}

.hover-link:hover::after {
    width: 100%;
    transition: width .3s;
}

#my-nav p#navbar-registered-acc {
    color: white;
    display: inline-block;
    line-height: 0;
    font-size: 22px;
}

#my-nav li#accounts-holder {
    padding-top: 12px;
    display: flex;
}

#my-nav ul#normal-links {
    padding-bottom: 0;
}
#my-nav ul#profile-links {
    padding-top: 0;
}

.blob {
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    height: 20px;
    width: 20px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
    display: inline-block;
    margin-top: 0;
    margin-right: 5px;
    line-height: 0;
}

.blob.green {
    background: rgba(51, 217, 178, 1);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
    animation: pulse-green 1.2s infinite;
}

@keyframes pulse-green {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}

/*Hover link effect END*/

/*#endregion Navbar*/

/*#region PageHeader*/
.header {
    background-color: rgba(0, 0, 0, 0.76);
    background-image: url("../img/header_bg_2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 36px;
    height: 24vh;
}

.header h1 {
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    color: whitesmoke;
}
/*#endregion PageHeader*/

/*#region MainContainer*/
.main-container {
    padding: 64px 48px ;
    flex: 1 0 auto;
}
/*#endregion MainContainer*/

/*#region RegisterForm*/
#submitBtn {
    background-color: var(--accent-color);
    border: none;
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

#submitBtn:hover {
    background-color: var(--accent-light-color);
    transition: 0.3s ease-in-out;
}

/*#endregion RegisterForm*/

/*#region Homepage Section*/
.page-article-row {
    margin-top: 96px;
}

.article-card .card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.article-row .article-card {
    border-radius: 0 !important;
    width: 80%;
    min-height: 330px !important;
    box-shadow: 6px 9px 11px -7px rgb(0 0 0 / 66%);
}

.article-card .card-body {
    min-height: 115px;
}

.article-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.page-subheading {
    font-size: 25px;
    word-spacing: 0;
}

.articles-category-heading {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.4px;
    margin-bottom: 35px;
}

.heading-underline {
    content: "";
    display: block;
    width: 70px;
    padding-top: 4px;
    border-bottom: 6px solid var(--purple-color);
}

button.see-more-btn,
button.see-more-btn:active{
    float: right;
    border-radius: 0;
    background-color: rgb(0 0 0);
    border: 1px solid rgb(0 0 0);
}

button.see-more-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid rgb(0 0 0);
}

/*#endregion Homepage Section*/


/*#region Individual Post*/
#right-column-article p img {
    max-width: 100% !important;
    max-height: max-content !important;
}

div#author-container {
    padding: 20px 15px;
    background-color: rgb(191 191 191 / 13%);
    border: 1px solid rgb(128 128 128 / 11%);
    box-shadow: 6px 9px 11px -7px rgb(0 0 0 / 66%);
}

div#post-container {
    padding: 20px 15px;
    margin-left: 44px;
    background-color: rgb(191 191 191 / 10%);
}

div#post-container p {
    font-size: 18px;
    line-height: 30px;
}
/*#endregion Individual Post*/

/*#region Media Queries*/

/*#region Mobile*/
@media (max-width: 575.98px) {
    .header {
        height: 18vh;
    }

    .header h1 {
        font-size: 36px;
    }

    .main-container {
        padding: 64px 16px;
    }

    #my-nav .navbar-collapse ul.navbar-nav {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .article-row .article-card {
        width: 100%;
    }

    #right-column-article p img {
        width: 100% !important;
        height: auto !important;
    }

    div#post-container {
        margin-top: 54px;
        margin-left: 0;
    }
}

/*#endregion Mobile*/


/*#endregion Media Queries*/